*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    margin: 100px;
    /* background-color: rgb(70, 133, 133); */
    width: auto;
}
.cardBox{
    display: flex;
}
.card{
    padding: 3px;
}
.cardImg{
    height: auto;
}
.cardHeaderText{
    font-weight: 700;
    font-size: 20px;
}
.cardBodyText{
    font-weight: 300;
    font-size: 18px;
}
.cardText a{
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: black;
    text-decoration-line: underline;
}